{% extends "base.html" %}

{% block title %}LIST{% endblock %}

{% block content %}
<div class="page-container">
    <div class="pg-grid">
        {% for pg in playgrounds %}
        <article class="pg-card">
            <div class="pg-content">
                <h2 class="pg-title">{{ pg.name }}</h2>
                <p>ID: {{ pg.id }}</p>
                <p>Latitude: {{ pg.lat }}</p>
                <p>Longitude: {{ pg.lon }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}